@charset "utf-8";
/* CSS Document */

.jumbotron-fluid {
	margin-bottom: 0!important;
}

h4 {
	text-align: center;
	margin-top: 2rem;
}

.overview {
	padding-top: 2rem;
}

.workoutimg {
	text-align: center;
}

.workouttitle {
	margin-bottom: 0.2rem;
}